* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

html, body, #root {
  height: 100%;
}

body, input, button {
  font-family: "Helvetica Neue", Arial, sans-serif;
}

body {
  background: #1f5c71;
  -webkit-font-smoothing: antialiased;
}
